<!-- Header File-->
<!DOCTYPE html>
<html>

<head>
    <title>Restful Blog</title>
    <!-- <link rel="stylesheet" type="text/css" href="/semantic.css"> -->
    <link rel="stylesheet" type="text/css" href="/icon.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
</head>

<body>
    <div class="ui fixed inverted menu">
        <div class="ui container">
            <a href="/" class="item">Home</a>
            <a href="/blogs/new" class="item">New Post</a>
        </div>
    </div>
